/**
 * Prefix
 * @author: SimonHao
 * @date:   2015-11-17 14:41:31
 */

box-shadow(args...){
  -webkit-box-shadow: args;
  box-shadow: args;
}

border-radius(args...){
  -webkit-border-radius: args;
  border-radius: args;
  box-shadow: args;
}